CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
catch.hpp
bin
*.cmake
coverage-report.html
.ninja_deps
.ninja_log
libmar.a
rules.ninja
build.ninja